
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Orbitron:wght@400;600;700&display=swap');

body {
	font-family: 'Atkinson Hyperlegible', sans-serif;

}
.ad {
	max-width: 1500px;
	margin: 0 auto;
	
}

h1,
h2,
h3 {
	text-align: center;
	padding: 5px;
	background-color: #f0e3c7;
    font-family: 'Orbitron', sans-serif;
}

em {
	font-size: 1.25em;
	font-weight: 700;
	opacity: 0;
	animation: blink 2s linear infinite;
}
@keyframes blink {
	25% {
		opacity: .5;
	}
	50% {
		opacity:1;
	}
}
img {
	
	border-radius: 10px;
}

.hero {
	max-width: 512px;
	display: block;
	margin: 0 auto;
}

.copy {
	columns: 2 350px;
	column-rule: 1px solid black;
	break-inside: after-white-space;
	padding: 0 10px;
	box-shadow: 3px 3px 7px rgba(0, 0,0 ,0.5); 
}

.inline {
	display:block;
	max-width: 250px;
	margin: auto;
	padding: 5px;

}

.left {
	float: left;
}

.right {
	float: right;
}
