* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 500 100%/1.4 system-ui;
}

body {
    background: hsl(55, 76%, 84%);
}
.container {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 10px;
    margin-inline: auto;
    padding: 20px 10px;
}
img {
    width: 100%;
}
.card {
    background-color: hsla(40, 93%, 53%, 0.347);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    box-shadow: 4px 4px 8px hsla(0, 0%, 0%, 0.35);
}
