@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap");

body {
  display: grid;
  align-content: center;
  place-items: center;
  min-height: 100vh;
  font-family: "Cabin Sketch", cursive;
}

.container {
  width: 80%;
  height: 50vh;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: sandybrown;
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 10px 15px 20px hsl(0 0% 100% /0.7), 10px 15px 20px hsl(0 0% 0% / 0.3);
}

.tile {
  width: 200px;
  height: 200px;
  color: brown;
  border-radius: 40% 60% 23% 77% / 27% 82% 18% 73%;

  border-top: 3px solid white;
  border-left: 3px solid white;
  box-shadow: inset 0px 15px 20px hsl(0 0% 100% /0.5), 5px 15px 20px hsl(0 0% 100% / 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: translatey(-5%);
  animation: jump 3s linear infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0%);
        transform: rotate(calc(var(--r) * -1));
  }
  25% {
    transform: translateY(50%);
  }
  75% {
    transform: translatey(-50%);
  }
  90% {
    transform: translatey(0px);
    transform: rotate(var(--r));
  }
}
.tile p {
  font-size: 3rem;
  text-align: center;
}
