* {
    box-sizing: border-box;
}

body {
    padding: 3rem;
}
main {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    min-height: 100vh;
}

.stuff {
    width: 400px;
    height: 300px;
    background: lightsteelblue;
    padding: 2rem;
}
.spring {
    width: 50px;
    height: 300px;
    animation: sprung 2s infinite;

}

@keyframes sprung {
    0%, 100%{
        transform: scaleY(0.75);
    }
    50% {
        transform: scaleY(2);
    }

    
}
.spring img {
    height: 100%;
    object-fit: contain;
}

