* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: hsl(228, 84%, 88%);
    font-size: 3rem;
}

details {
    font-size: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 3rem;
}
.cloud {
    position: absolute;
    bottom: 05%;
    left: var(--vw);
    font-size: 4rem;
    transform: rotate(-90deg);
}
.leaf {
    position: absolute;
    bottom: 06%;

    animation: wind 5s linear infinite;
    animation-delay: var(--d);
}

@keyframes wind {
    0% {
        transform: translate3d(var(--vw), -4vh, 0);
    }
    10% {
        transform: translate3d(var(--vw), -10vh, 0);
    }
    20% {
        transform: translate3d(var(--vw), -20vh, 0);
    }
    30% {
        transform: translate3d(var(--vw), -25vh, 0);
    }
    40% {
        transform: translate3d(var(--vw), -30vh, 0);
    }
    50% {
        transform: translate3d(var(--vw), -40vh, 0);
    }
    60% {
        transform: translate3d(var(--vw), -45vh, 0);
    }
    70% {
        transform: translate3d(var(--vw), -50vh, 0);
    }
    80% {
        transform: translate3d(var(--vw), -45vh, 0);
    }
    90% {
        transform: translate3d(var(--vw), -25vh, 0);
    }
    100% {
        transform: translate3d(var(--vw), -5vh, 0);
    }
}

.swirl {
    width: 200px;
    height: 100px;
}

.swirl img {
    width: 100%;
    display: block;
    animation: spin 3s linear 5;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
