body {
  display: grid;
  place-items: center;
  /*   min-height: 100vh; */
}

.card {
  display: grid;
  place-content: center;
  align-content: center;
  background-color: lightblue;
  width: clamp(150px, 20vw, 400px);
  aspect-ratio: 1;
  border-radius: 16px;
  border: 1px solid blue;
  box-shadow: 5px 5px 10px hsl(0 0% 0% /0.25);
}

#info {
  width: 60ch;
  background: lightgray;
  border-radius: 10px;
  padding: 0;
  box-shadow: 5px 5px 10px hsl(0 0% 0% /0.25);
}
#info form {
  diplsay: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  padding: 0;
  width: 100%;
}
:modal {
  border: none;
}
/* #info header {
  width: 100%;
} */

#info header h3 {
  text-align: center;
  padding-top: 0.5rem;
}

#info form article {
  background-color: white;
  padding: 0.75rem;
}
#info form article p {
  margin-inline: 1rem;
  padding: 0.25rem 0.5rem;
}
#info::backdrop {
  background-color: hsl(0 0% 0% / 0.25);
}

h3 {
  margin-top: 0;
  text-transform: capitalize;
}
footer {
  width: 100%;
}
footer menu {
  diplay: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  place-items: space-evenly;
}
