@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

* {
	box-sizing: border-box;
}

:root {
	--back: hsl(0, 0%, 0%);
	--back_door: hsl(0, 56%, 21%);
	--text: hsl(39, 97%, 46%);
	--bright: hsl(0, 0%, 100%);
	--medium: hsl(33, 100%, 50%);
	--height: 12rem;
}
html,
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	min-width: stretch;
	font-family: "Creepster", cursive;
}

body {
	background-color: var(--back);
	color: var(--text);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto 1fr 1fr;
	grid-template-areas:
		"heading heading heading heading"
		"wall wall wall door"
		"ghost ghost ghost door";
}

.heading {
	grid-area: heading;
}
.discuss {
	font-family: sans-serif;
	padding: 2rem;
	opacity: 0;
	cursor: pointer;
}
.discuss:hover {
	opacity: 1;
}
.heading h2 {
	text-align: center;
	font-size: 5rem;
	text-shadow: 3px 3px 3px white;
	-webkit-text-stroke: 1px var(--back_door);
	/* text-stroke: 1px var(--back_door); */
	text-decoration-line: underline;
	font-weight: 900;
}

.hand {
	display: flex;
	justify-content: flex-end;
	padding-top: 100%;
	transform: translateY(var(--height)) translateX(0.5rem);
	animation: handmove 4s infinite;
	opacity: 1;
}
@keyframes handmove {
	50% {
		opacity: 0;
		transform: rotate(-30deg);
	}
	100% {
		opacity: 1;
	}
}
.hand img {
	width: 60%;
}
.door {
	grid-area: door;
	background-color: var(--back_door);
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
	transform: skewY(-10deg);
	top: -1rem;
}

.door .round {
	width: var(--height);
	height: var(--height);
	margin: auto;
	background: radial-gradient(var(--bright), var(--medium));
	border-radius: 50%;
	border: 4px solid var(--back);
	box-shadow: 4px 4px 8px var(--text);
}
.door .panel {
	width: 100%;
	height: var(--height);
	border: 2px solid var(--back);
	/* 	background: radial-gradient(var(--back) 0%, var(--back_door) 50%); */
	box-shadow: 4px 4px 8px var(--back);
}
.door .knob {
	position: relative;
}
.door .knob::before {
	content: "";
	position: absolute;
	top: 5rem;
	left: -2rem;
	width: 2rem;
	height: 2rem;
	background: radial-gradient(var(--back), var(--medium));
	border: 2px solid var(--back);
	border-radius: 50%;
	top: 0.5rem;
}
.door .spacer {
	width: 100%;
	height: 50%;
}
.ghosts {
	grid-area: ghost;
	display: flex;
	align-items: center;
	width: 100%;
	height: var(--height);
	padding: 2rem;
}

.ghostp > img,
.ghostw > img {
	width: 80%;
}
.ghostx {
	width: 100%;
}
