@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hw: 182px;
}
body {
  color: white;
  min-height: 100vh; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  display: grid;
  place-content: center;
  margin-inline: 5rem;
  margin-block: 2rem;
}
body > * {
   background-color: #166649;
}
header {
  text-align: center;
  font-family: "Abril Fatface", cursive;
}
header h1 {
  font-size: 5rem;
}

main {
  padding: 2rem;
  display: grid;
}
section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  max-width: 700px;
}
img {
  height: var(--hw);
  width: var(--hw);
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(80vw - var(--hw));
  height: var(--hw);
}
@media only screen and (max-width: 699px) {
  header h1 {
    font-size: 3rem;
  }
  header h2 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 565px) {
  section {
    flex-direction: column;
    gap: 0.1rem;
  }
  section:nth-child(even) {
    flex-direction: column-reverse;
  }
  header h1 {
    font-size: 2rem;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
footer button {
  display: inline-block;
  border-radius: 0.25rem;
  width: calc(var(--hw) + 5px);
  outline: none;
  border: none;
  font-family: "Gill Sans", "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1.75px;
  line-height: 44px;
  color: #263645;
  cursor: pointer;
}
