@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');
body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.3rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.card {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.title {
    font-weight: 700;
    letter-spacing: .15em;
    font-size: 2rem;
    writing-mode: vertical-lr;
    padding-inline-start: 5rem;
}
a {
  text-decoration: none;
}