@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cellwidth: 300px;
}
body {
    background-image: conic-gradient(from 45deg, #646872, #bfc0cf);
    min-height: 100vh;
    display: grid;
    justify-items: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 1rem;
}
h1 {
    text-align: center;
    padding: 1rem;
    font-style: italic;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--cellwidth), 1fr));
    gap: 1rem;
    width: 75%
}
.card {
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    box-shadow: 2px 5px 10px hsla(0, 0%, 0%, 0.204);
}
blockquote {
    padding: 0.5rem;
    background-color: hsl(0, 0%, 100%);
}
cite {
    display: block;
    margin-top: 5px;
    font-weight: 600;
}
code {
  padding: 5px 0 5px 0;
  color: blue;
  background-color: white;
  font-style: normal;
}
.border-inline {
    border-inline: 2px solid red;
}

.border-inline-start {
    border-inline-start: 4px solid blue;
}
.border-inline-end {
    border-inline-end: 4px solid green;
}
.border-block {
    border-block: 4px solid limegreen;
}
.border-block-start {
    border-block-start: 4px solid gold;
}

.border-block-end {
    border-block-end: 4px solid peru;
}
.twisted {
    writing-mode: vertical-rl;
    height: 300px;
}
.twisted-quote {
    border-block: 2px dashed blue;
}
.explain {
    font-size: 1.2em;
    font-style: italic;
    background-color: hsl(195, 82%, 91%);
}
