@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap");

body {
	margin: 0;
	height: 100vh;
	background: radial-gradient(
		circle at 50% 100%,
		rgba(240, 93, 33, 0.8) 10%,
		rgba(240, 136, 86, 0.5) 22%,
		rgba(242, 235, 157, 0.9) 35%,
		rgba(144, 186, 230, 0.9) 100%
	);
	font-family: "Mountains of Christmas", cursive;
}
h1 {
	text-align: center;
	font-size: 3rem;
}
.container {
	display: grid;
	place-items: center;
	min-height: 100vh;
	overflow: none;
	position: relative;
}
.sun {
	position: absolute;
	top: 100vh;
	animation: sunrise 10s linear infinite;
   
}

@keyframes sunrise {
	0% {
		top: 89vh;
		left: -30vw;
	}
	20% {
		top: 60vh;
		left: 0vw;
	}
	40% {
		top: 40vh;
		left: 20vw;
	}
	50% {
		top: 30vh;
		left: 30vw;
	}
	60% {
		top: 40vh;
		left: 40vw;
	}
	80% {
		top: 80vh;
		left: 60vw;
	}
	90% {
		top: 110vh;
		left: 80vw;
	}
}
